<section id="#reminder-container">Reminder Container</section>

<form action="" class="pop-up-window">

    <H3>Create new reminder</H3>

    <section>
        <label for="name">name</label>
    </section>

    <section>
        <label for="">time</label>
        <p>Please select option</p>
        <label for="">Please select option</label>
        <input type="checkbox" name="time-of-day" id="morning" value="morning">
        <input type="checkbox" name="time-of-day" id="afternoon" value="afternoon">
        <input type="checkbox" name="time-of-day" id="evening" value="evening">
        <input type="checkbox" name="time-of-day" id="specific" value="specific">
    </section>

</form>

<p>[name of the prescription]</p>
<p>[instructions for prescription]</p>
<p>[time to take prescription]</p>

<button>Add to Calendar</button>

<br>
