<section id="#reminder-container">Reminder Container</section>

<form action="" class="pop-up-window">

    <H3>Create new reminder</H3>

    <section>
        <label for="name">name</label>
        <select name="name" id="name">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </section>

    <section>
        <p>Please select time option:</p>

        <input type="radio" name="time-of-day" id="morning" value="morning">
        <label for="morning">Morning</label>
        <br>

        <input type="radio" name="time-of-day" id="afternoon" value="afternoon">
        <label for="afternoon">Afternoon</label>
        <br>

        <input type="radio" name="time-of-day" id="evening" value="evening">
        <label for="evening">Evening</label>
        <br>

        <input type="radio" name="time-of-day" id="specific" value="specific">
        <label for="specific">Specific Time</label>
        <br>

    </section>

</form>

<p>[name of the prescription]</p>
<p>[instructions for prescription]</p>
<p>[time to take prescription]</p>

<button>Add to Calendar</button>

<br>
