<button>Login</button>

<form action="" class="landing-page-forms" id="login">

    <section class="landing-page-forms">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
    </section>

    <section class="landing-page-forms">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </section>

    <hr>

    <p>Not a member? <u><b>Sign up</b></u></p>
    <!-- when user clicks 'sign up', it will redirect the user to signup pop-up window -->

    <input type="submit" value="Login">

</form>

<br>
