<button>Sign Up</button>
<form action="" class="landing-page-forms" id="signup">
    <section class="">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </section>
    <!-- <hr> -->
    <section class="">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </section>
    <!-- <hr> -->
    <p>We'll never share your info with anyone else.</p>
    <button>Sign Up</button>
</form>
<br>
