<!-- https://angular.io/tutorial/toh-pt3 -->

<!-- welcome page -->
<app-landing-page></app-landing-page>

<!-- login/signup section -->
<button>Sign Up</button>
<p>Username</p>
<p>Password</p>
<p>We'll never share your info with anyone else.</p>
<button>Sign Up</button>
<br>

<button>Login</button>
<p>Username</p>
<p>Password</p>
<p>We'll never share your info with anyone else.</p>
<button>Login</button>
<br>

<!-- user profile -->
<app-user-profile></app-user-profile>

<section class="#prescription">Prescription Container</section>
<p>[name of prescription]</p>
<button>Edit Prescription</button>
<button>Delete Prescription</button>
<button>Add Prescription</button>
<button>Download</button>

<!-- edit prescription window -->
<h3>Edit existing prescription</h3>
<p>[select prescription]</p>
<p>[edit time]</p>
<button>Update</button>
<button>Close</button>

<section class="#refill">Refill Container</section>
<p>[name of prescription]</p>
<p>Remember to order refill around:</p>
<p>[date]</p>
<button>Add to Calendar</button>
<br>

<section class="#reminder">Reminder Container</section>
<p>[name of the prescription]</p>
<p>[instructions for prescription]</p>
<p>[time to take prescription]</p>
<button>Add to Calendar</button>
<br>

<footer>
    <p>Copyright [current year]</p>
</footer>