<!-- https://angular.io/tutorial/toh-pt3 -->

<!-- welcome page -->
<app-landing-page></app-landing-page>

<!-- login/signup section -->
<button>Sign Up</button>
<p>Username</p>
<p>Password</p>
<p>We'll never share your info with anyone else.</p>
<button>Sign Up</button>
<br>

<button>Login</button>
<p>Username</p>
<p>Password</p>
<p>We'll never share your info with anyone else.</p>
<button>Login</button>
<br>

<!-- user profile -->
<app-user-profile></app-user-profile>

<!-- prescription container -->
<app-user-prescription-container></app-user-prescription-container>

<!-- refill container -->
<app-user-refill-container></app-user-refill-container>

<!-- reminder container -->
<app-user-reminder-container></app-user-reminder-container>