<section id="#prescription-container">Prescription Container</section>
<p>[name of prescription]</p>

<button>Edit Prescription</button>
<!-- edit prescription window -->
<form action="" class="pop-up-window">
    <h3>Edit existing prescription</h3>
    <label for="name">[select prescription]</label>
    <label for="time">[edit time]</label>
    <button>Update</button>
    <button>Close</button>
</form>
<br>

<!-- delete prescription button -->
<button>Delete Prescription</button>

<!-- add prescription window -->
<form action="" class="pop-up-window">
    <label for="name">Name</label>
    <input type="text" list="medications" id="prescription" name="prescription">

    <datalist id="prescription">
        <option value="1"></option>
        <option value="2"></option>
        <option value="3"></option>
        <option value="4"></option>
        <option value="5"></option>
    </datalist>


    <label for="count">Count</label>
    <input type="number" step="1" name="count" id="count">

    <button>Add Prescription</button>
</form>

<!-- download button -->
<button>Download</button>
<br>