<section id="#prescription">

    <h2>Prescription</h2>
    
    <!-- <p>[name of prescription]</p> -->
    
    <!-- edit prescription pop-up window -->
    <!-- <button>Edit Prescription</button>
    <form action="" class="pop-up-window">
    
        <h3>Edit existing prescription</h3>
    
        <label for="name">[select prescription]</label>
        <label for="count">Count</label>
        <input type="number" step="1" name="count" id="count" min="1" max="500" required>
        <label for="time">[edit time]</label>
    
        <button>Update</button>
        
        <button>Close</button>
    
    </form>
    
    <br> -->
    
    <!-- delete prescription button -->
    <!-- <button>Delete Prescription</button>
    
    <br> -->
    
    <!-- add prescription pop-up window -->
    <!-- <button>Add Prescription</button>
    <form action="" class="pop-up-window">
        
        <h3>Add new prescription</h3>
    
        <label for="name">Name</label>
        <input type="text" list="medications" id="prescription" name="prescription" required>
        <datalist id="medications">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </datalist>
    
    
        <label for="count">Count</label>
        <input type="number" step="1" name="count" id="count" min="1" max="500" required>
    
        <button>Add Prescription</button>
    
    </form> -->
    
    <!-- download button -->
    <!-- <button>Download</button>
    <br> -->
    
</section>