<header>
    <img src="../../assets/healthsquad_st_logo.png" alt="HealthSquad logo" class="landing-page">
</header>

<!-- <br> -->

<!-- <div class="" id="login"> -->
    <!-- login section -->
    <button type="button" class="btn btn-primary btn-rounded">Login</button>
    <!-- <app-landing-page-login></app-landing-page-login> -->
<!-- </div> -->

<!-- <br> -->

<!-- <div class="" id="signup"> -->
    <!-- signup section -->
    <button type="button" class="btn btn-primary btn-rounded">Sign Up</button>
    <!-- <app-landing-page-signup></app-landing-page-signup> -->
<!-- </div> -->