/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(./assets/background-image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}