<header>
    <img src="" alt="HealthSquad logo"/>
    <p>[Greeting based on time of day]</p>
    <button>Log Out</button>
</header>

<nav>
    <ul>
        <li><a href="#prescription">Prescriptions</a></li>
        <li><a href="#refill">Refills</a></li>
        <li><a href="#reminder">Reminders</a></li>
    </ul>
</nav>

<!-- be able to edit profile to classify user as caregiver -->
<!-- <textarea name="bio" id="bio" cols="30" rows="10"></textarea> -->

<!-- prescription container -->
<app-user-prescription-container></app-user-prescription-container>

<!-- refill container -->
<app-user-refill-container></app-user-refill-container>

<!-- reminder container -->
<app-user-reminder-container></app-user-reminder-container>